{#
/*
 * Oasys Digital Signage
 */
#}

{% extends "form-base.twig" %}
{% import "forms.twig" as forms %}

{% block formTitle %}
    {% trans "Delete Application" %}
{% endblock %}

{% block formButtons %}
    {% trans "Cancel" %}, XiboDialogClose()
    {% trans "Yes" %}, $("#applicationDeleteForm").submit()
{% endblock %}

{% block formHtml %}
    <div class="row">
        <div class="col-md-12">
            <form id="applicationDeleteForm" class="XiboForm form-horizontal" method="delete" action="{{ url_for("application.delete", {"id": client.key}) }}">
                {% set message %}{% trans "Are you sure you want to delete this application? This cannot be undone" %}{% endset %}
                {{ forms.message(message) }}
            </form>
        </div>
    </div>
{% endblock %}