{#
/*
 * Oasys Digital Signage
 */
#}

{% extends "form-base.twig" %}
{% import "forms.twig" as forms %}

{% block formTitle %}
    {% trans "Delete Daypart" %}
{% endblock %}

{% block formButtons %}
    {% trans "Cancel" %}, XiboDialogClose()
    {% trans "Yes" %}, $("#dayPartDeleteForm").submit()
{% endblock %}

{% block formHtml %}
    <div class="row">
        <div class="col-md-12">
            <form id="dayPartDeleteForm" class="XiboForm form-horizontal" method="delete" action="{{ url_for("daypart.delete", {"id": dayPart.dayPartId}) }}">
                {% set message %}{% trans "Are you sure you want to delete this Daypart? This cannot be undone" %}{% endset %}
                {{ forms.message(message) }}

                {% if countSchedules > 0 %}
                    {% set message %}{% trans %}There are {{ countSchedules }} scheduled events that will also be deleted.{% endtrans %}{% endset %}
                    {{ forms.message(message) }}
                {% endif %}
            </form>
        </div>
    </div>
{% endblock %}