{#
/*
 * Oasys Digital Signage
 */
#}

{% extends "form-base.twig" %}
{% import "forms.twig" as forms %}

{% block formTitle %}
    {% trans "Trigger a web hook" %}
{% endblock %}

{% block formButtons %}
    {% trans "Cancel" %}, XiboDialogClose()
    {% trans "Save" %}, $("#displayGroupTriggerWebhookForm").submit()
{% endblock %}

{% block formHtml %}
    <div class="row">
        <div class="col-md-12">
            <form id="displayGroupTriggerWebhookForm" class="XiboForm form-horizontal" method="post" action="{{ url_for("displayGroup.action.trigger.webhook", {id: displayGroup.displayGroupId}) }}">
                {% set title = "Trigger Code"|trans %}
                {% set helpText = "Enter the code associated with the web hook you wish to trigger. Please note that for this action to work, the webhook trigger code has to be added to Interactive Actions in scheduled content for this Player. "|trans %}
                {{ forms.input("triggerCode", title, "", helpText) }}
            </form>
        </div>
    </div>
{% endblock %}