{#
/*
 * Oasys Digital Signage
 */
#}

{% extends "form-base.twig" %}
{% import "forms.twig" as forms %}

{% block formTitle %}
    {% set layout = layout.layout %}
    {% trans %}Unretire {{ layout }}{% endtrans %}
{% endblock %}

{% block formButtons %}
    {% trans "No" %}, XiboDialogClose()
    {% trans "Yes" %}, $("#layoutUnretireForm").submit()
{% endblock %}

{% block formHtml %}
    <div class="row">
        <div class="col-md-12">
            <form id="layoutUnretireForm" class="XiboForm form-horizontal" method="put" action="{{ url_for("layout.unretire", {id: layout.layoutId}) }}">
				{{ forms.message("Are you sure you want to unretire this layout?") }}
            </form>
        </div>
    </div>
{% endblock %}