{#
/*
 * Oasys Digital Signage
 * 
 * 
 */
#}
{% extends "non-authed.twig" %}

{% block content %}

    <p>{% trans "Sorry we could not find that page." %}</p>
    <p>{% trans "Please press the button below to go to your homepage or press back in your browser" %}</p>
    <a class="btn btn-info" href="{{ homeUrl }}">{% trans "Home" %}</a>

{% endblock %}