/*
 * Oasys Digital Signage
 * 
 * 
 */


body {
    color: #333333 !important;
    margin-bottom: 60px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
}
.header {
    text-align: center;
    margin-bottom: 15px;
    font-size: 24px;
}

.small {
    font-size: 85%;
}

.logo {
    height: 60px;
    margin-left: 15px;
    margin-bottom: 15px;
}

.saved-report-table {
    border-collapse: collapse;
    width: 100%;
}

.saved-report-table td, .saved-report-table th {
    border: 1px solid #ddd;
    padding: 8px;
}

.saved-report-table tr:nth-child(even){background-color: #f2f2f2;}

.saved-report-table tr:hover {background-color: #ddd;}

.saved-report-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #273759;
    color: white;
}

.clear {
    clear:both;
}

.right {
    float: right;
}

.left {
    float: left;
}