/*
 * Oasys Digital Signage
 * 
 * 
 */

/* Print Style Sheet */
@media print {

    @page {
        margin: 0;
        size: landscape;
    }

    body  {
        margin: 1.6cm;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 14px;
    }

    .nav-pills, .proof-of-play-report-div, #applyBtn, #applyWarning, .fa-info-circle , .dt-buttons, .pagination,
    .select2-selection__clear, button.select-all, button.dropdown-toggle,
    .navbar-collapse, #sidebar-wrapper, #content-wrapper > div > div.row.header
    {
        display: none;
    }

    .widget .widget-title {
        font-size: 1.4rem;
        color: #767676;
        background-color: #f6f6f6;
        text-align: center;
        line-height: 60px;
    }

    .card.bg-light {
        border: 2px solid #e3e3e3;
    }

    /* Reports of summary, distribution */
    #canvas {
        max-width: 25cm;
        max-height: 7cm;
    }

    /* Custom reports*/
    .custom-chart {
        max-width: 25cm;
        max-height: 6.5cm;
    }

    .page-break-avoid {
        page-break-inside : avoid
    }
}